@import "./search.scss";

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

// Position
.middle {
  position: absolute;
  top: -62px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  z-index: 9999;
}

// Text
h2 {
  font-size: 26px;
  font-weight: 500 !important;
  margin: 0px !important;
  padding: 0px !important;
}

.label {
  font-weight: 500;
  font-size: 16px;
}

.subtitle {
  color: #717171;
}

// Button
.q-btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.no-hover {
  .q-focus-helper {
    visibility: hidden;
  }
}

.no-animation .q-ripple {
  display: none;
}

.link {
  text-decoration: underline;
  font-weight: 500;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  min-height: 0;

  .q-btn__content {
    text-align: left !important;
  }
}

.disabled {
  cursor: default !important;
  color: rgb(72, 72, 72);
}

.disabled * {
  cursor: default !important;
}

// Menu
.q-menu {
  border-radius: 12px !important;
  margin-top: 14px !important;
}

.rounded {
  border-radius: 32px;
}
