.search {
  border-radius: 32px;
  border: solid 1px #ddd;
  color: #222;
  width: 848px;
  height: 64px;

  .input {
    border-radius: 32px;
    padding: 12px 28px;
    transition: background-color linear 0.2s;

    .label {
      font-size: 12px;
      line-height: 16px;
      font-weight: 700;
      letter-spacing: 0.8px;
      padding-bottom: 2px;
      margin-left: 2px;
    }

    input {
      background-color: transparent;
      border: none;
      font-size: 14px;
      line-height: 18px;
      color: #222;
      text-overflow: ellipsis;
      width: 100%;
    }

    input:focus-visible {
      outline: none;
    }
  }

  .input:hover {
    background-color: rgb(238, 238, 238);
  }
}
